<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CCEABT.ORG : {% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">
        <link rel="apple-touch-icon image_src" href="{{ asset('img/apple-touch-icon.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

        {% endblock %}
        {{ encore_entry_link_tags('app') }}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

        {% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
